{% extends 'salameng/Layout.html' %}
{% block content %}
     <!-- ======= Product Section ======= -->
    <section id="services" class="services section-bg mt-5">
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title" data-aos="fade-right">
                        <h2>product</h2>
                        <p>Magnam dolores commodi suscipit nemo qui impedit suscipit alias ea. Quia fugiat sit in iste
                            officiis commodi quidem hic quas.</p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">

                        {% for pl  in list %}
                            <div class="card mb-3" style="max-width: 540px; min-width: 360px">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="{{ pl.ac_image.url }}" class="card-img p-2 mt-4" alt="ac_image">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title"><a
                                                    href="{% url 'product:product_details' pl.ac_name %}">{{ pl.ac_name }}</a>
                                            </h5>
                                            <p class="card-text">{{ pl.ac_description }}</p>
                                            <p class="card-text">{{ pl.ac_normal_price }} ৳</p>
                                            <p class="card-text"><small
                                                    class="text-muted">{{ pl.ac_category.ac_category_name }}</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Product Section -->
{% endblock %}
{# <div class="album py-5">#}
{#        <legend class="border-bottom mb-4">Product List sorted by date and category.#}
{#        </legend>#}
{#        <div class="container">#}
{##}
{#            <div class="row">#}
{#                {% for l in list %}#}
{#                    <div class="col-md-12 col-sm-12">#}
{##}
{#                        <div class="card mb-4 box-shadow">#}
{#                            <div class="row">#}
{#                                <div class="col-md-3 col-sm-3">#}
{#                                    <img height="150rem" width="150rem" style="float: left;"#}
{#                                         class="rounded-circle border p-1 m-2" src="{{ l.ac_image.url }}"#}
{#                                         alt="Card image cap">#}
{#                                </div>#}
{#                                <div class="col-md-6 col-sm-6">#}
{#                                    <div class="container-fluid mt-3">#}
{#                                        <p>Category: {{ l.ac_name }}</p>#}
{#                                        <p>Food Info: {{ l.ac_description|truncatechars:100 }}</p>#}
{#                                        <p>Price: {{ l.ac_normal }} BDT</p>#}
{#                                        <p>Food Added: {{ l.upload_date|date:"d-M-Y" }}</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-3 col-sm-3">#}
{#                                    <div class="container-fluid mt-3">#}
{#                                        <a href="{% url 'product:product_details' l.ac_name%}"#}
{#                                           class="btn btn-block  btn-outline-dark">Details</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                {% endfor %}#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
