{% extends 'WebApp/Layout.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        <div class="card">
        <div class="card-header">
            {{ user.username }} profile
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <img width="128rem" height="128rem" class="float-left img-thumbnail figure-img"
                         src="{{ user.profile.image.url }}">
                </div>
                <div class="col-md-8 col-sm-8">
                        <h5 class="card-title">Name: {{ user.first_name }} {{ user.last_name }}</h5>
                        <h5 class="card-title">Email: {{ user.email }}</h5>
                        {% if user.is_staff %}
                            <h5 class="card-title">Membership: Admin</h5>
                        {% else %}
                            <h5 class="card-title">Membership: Member</h5>
                        {% endif %}

                        <h5 class="card-title">Last Online: {{ user.last_login|date:"M d, Y" }}</h5>
                        <h5 class="card-title">Date Joined: {{ user.date_joined|date:"M d, Y" }}</h5>

                    <a href="{% url 'accounts:change_password' %}" class="btn btn-lg btn-block btn-outline-dark">Change Password</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            Developed by <a href="https://www.facebook.com/shahriaz.kobir">Sharieaz Kavier</a>
        </div>
    </div>
        <br>
        <legend class="border-bottom mb-4">Update Profile</legend>
        <div class="col-md-6 offset-md-3">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form_info|crispy }}
                {{ form_img|crispy }}
                <div class="form-group">
                    <button class="btn btn-block btn-lg btn-outline-warning">Update</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

